<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-blue.min.css"/>
</head>

<body>
<h1 class="title">Hobbyt - Fun With Anyone, Anytime</h1>
<h2 class="sub-title">Login page</h1>

    <div class="loginDiv">
        <!-- Login text fields -->
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="username">
            <label class="mdl-textfield__label" for="username">Username</label>
        </div>
        <br>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
            <input class="mdl-textfield__input" type="text" id="password">
            <label class="mdl-textfield__label" for="password">Password</label>
            <span id="loginErrorMessage" class="mdl-textfield__error">Try again</span>
        </div>

        <div></div>
        <div></div>

        <!-- Login buttons -->
        <div class="loginDiv">
            <button id="register"
                    class="myButton mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Register
            </button>
            <button id="login"
                    class="myButton mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
                Login
            </button>
        </div>
    </div>

    <div id="error"></div>

    <script type="text/javascript" src="/public/script.js"></script>
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</body>

</html>