* {
	font-family: Tahoma;
}

:root {
	--first-color: #3A4662;
	--second-color: #62697A;
	--third-color: #FFFFFF;
}

body {
	background-color: var(--first-color);
}

.title {
	font-size: 5em;
	color: var(--third-color);
	text-shadow: 3px 3px var(--second-color);
	text-align: center;
}

.sub-title {
	font-size: 2.5em;
	color: var(--third-color);
	text-shadow: 3px 3px var(--second-color);
	text-align: center;
}

.loginDiv {
    display: block;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
	margin-top: 60px;
}

.myButton {
	width: 10em;
	margin-top: 50px;
}

.eventsPageContainers {
	display: flex;
	margin-left: 2%;
	margin-right: 2%;
}

.eventsLeftContainer {
	width: 30%;
	align-content: center;
}

.eventAddButton {
	width: 50%;
}

.eventsRightContainer {
	font-size: large;
}

.eventEditContainer {
	width: 100%;
	position: absolute;
	margin-left: 40%;
}

.tableContainer {
	margin-bottom: 5%;
	font-size: large;
}

.material-icons.md-dark {
	color: rgba(0, 0, 0, 0.50);
}

.gallery {
	margin: 10px;
	border: 5px solid transparent;
	float: left;
	width: 150px;
	height: 150px;
}

.gallery:hover {
	border: 5px solid var(--second-color);
}

.gallery img {
	width: 100%;
	height: 100%;
}
	
.eventDescription {
	padding: 3px;
	text-align: center;
	color: var(--third-color);
}